In [12]:

import sqlite3

import pandas as pd

import matplotlib.pyplot as plt

 
# Database connection using sqlite 3
db_path = 'stockprice.db'
con = sqlite3.connect(db_path)

In [13]:
sql_base_select = 'SELECT {} FROM {};'

# format sql string
sql = sql_base_select.format('*', 'ZTS_data')

# run select statement and show results
ZTS_data = pd.read_sql(sql, con)
ZTS_data.head()

   index        date   open   high    low  close   volume Name
0      0  2013-02-08  32.31  33.48  32.30  33.05  2599232  ZTS
1      1  2013-02-11  33.06  33.50  32.88  33.26  1486115  ZTS
2      2  2013-02-12  33.40  34.00  33.15  33.74  1637279  ZTS
3      3  2013-02-13  33.80  33.80  33.00  33.55  1269625  ZTS
4      4  2013-02-14  33.39  33.45  32.77  33.27  2954324  ZTS